[Desktop Entry]
Type=Application
Name=byedpictl
Comment=Experimental utility for user-friendly DPI desync on Linux
Path=/usr/local/bin
Exec=byedpictl zenity
#Icon=jmemorize
Terminal=false
